/* 기본설정 */
* {
  /* 
        content : 글씨가 삽입되는 영역
        border : 테두리 영역
        padding : content와 border 사이
        margin : border와 다른 태그 영역 사이
    */
  margin: 0;
  padding: 0;
  /* 
        box-sizing - 테두리 영역의 크기 결정
        box-sizing: border-box; - 지정한 CSS width 및 height를 전체 영역에 적용
    */
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* 바디 영역 */
body {
  color: #4a4a4a;
}

/* 맨위 배너영역 */
.top_area {
  /* width: 100%; */
  height: 50px;
  background-color: #2087c9;
  /* margin: 0 auto; */
}

/* 상위 배너안에 viewport */
.top_viewport {
  width:100%;
  height: 50px;
  margin: 0 auto;
  /* background-color: gray; */
  overflow: hidden;
}

.top_element {
  width: 100%;
  height: 50px;
  display: flex;
  /* transition-duration: 0s; */
  /* transform: translate3d(-300px, 0px, 0px); */
}

.top_slide {
  width: 550px;
  text-align: center;
}

.top_slide > a {
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 20px;
 
}

/* 헤더 영역 전체 */
.header_area {
  padding: 50px 0 60px 0;
}

.header_container {
  box-sizing: border-box;
  padding: 0 60px;
  margin: 0 auto;
  max-width: 1320px;
}

.header_area .h_logo {
  display: inline-block;
}

.header_area .h_list_menu {
  float: right;
}

/* 로고만 */
.h_logo img{
  width: 230px;
  /* height: auto; */
  /* max-width: 240px; */
  /* max-height: 240px; */
}

/* .list_menu라는 ul */
.h_list_menu .list_menu {
  display: flex;
}

/* 헤더 리스트안에 메뉴의 list */
.header_area .h_list_menu .list_menu > li {
  display: inline-block;
  height: 13px;
  border-right: solid 1px #b2b2b2;
  font-size: 13px;
  line-height: 13px;
  color: #4a4a4a;
  font-weight: 700;
}

.header_area .h_list_menu .list_menu > li > a {
  display: inline-block;
  padding: 0 10px;
}

.header_area .h_list_menu .list_menu > li .count_bag {
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #ffffff;
  background-color: #4a4a4a;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin-left: 2px;
  vertical-align: top;
}

.header_area .h_list_menu .list_menu > li:last-child {
  border-right: 0;
}

.header_area .h_list_menu .list_menu > li .search i {
  margin: 0 5px 0 10px;
  font-size: 15px;
}

.header_area .h_list_menu .list_menu > li .search form {
  float: right;
}

.header_area .h_list_menu .list_menu > li .search input {
  width: 130px;
  height: 13px;
  border: 0;
  border-bottom: solid 1px #4a4a4a;
  padding: 2px 0;
}

/* gnb메뉴바 영역 */
.gnb_area {
  height: 18px;
  margin-bottom: 40px;
  /* position: absolute; */
  /* z-index: 5; */
}

.gnb_list {
  box-sizing: border-box;
  width: 1320px;
  padding: 0 60px;
  margin: 0 auto;
}

.gnb_area .g_menu_bar {
  /* text-decoration-line: none; */
  color: #4a4a4a;
  /* list-style: none; */
  /* box-sizing: border-box; */
  /* display: flex; */
  margin-left: -16px;
  /* margin-bottom: 60px; */
  /* padding: 0 16px; */
}

/* .gnb_area .g_menu_bar > li .inner_dot:hover > a .active {
  color: #2286c9;
  margin-bottom: 16px;
}  */

.gnb_area .g_menu_bar > li {
  position: relative;
  display: inline-block;
}

.gnb_area .g_menu_bar > li > a{
  display: inline-block;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  padding: 0 16px;
}

.gnb_list_contents > .g_menu_bar .inner_dot:hover {
  visibility: visible;
}

.gnb_area .g_menu_bar > li .inner_gnb {
  display: none;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  padding: 16px;
  background-color: #ffffff;
  z-index: 10;
}

.g_menu_bar:hover + .inner_gnb {
  visibility: visible;
}

.gnb_area .g_menu_bar > li .inner_gnb > li {
  text-align: center;
  visibility: hidden;
}

.gnb_area .g_menu_bar > li .inner_gnb > li > a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}

.gnb_area .g_menu_bar .inner_b_dot > a {
  border-left: solid 1px #4a4a4a;
}

/* 배너영역 */

#section {
  box-sizing: border-box;
  float: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 60px;
}

#Banner {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  /* background-color: white; */
  /* display: flex - 수평으로 정렬 */
  display: flex;
  /* 
        align-items
        세로 축을 기준으로 정렬
    */
  align-items: center;
  /* 
        justify-content
        가로 축을 기준으로 좌우에 대한 정렬
    */
  justify-content: center;
  margin-bottom: 85px;
}

#BannerBox {
  /* margin-top: 575px; */
  /* margin: 0 auto; */
  width: 1200px;
  /* 
        overflow: hidden - 범위를 넘어가면 잘림
    */
  overflow: hidden;
  z-index: -999;
}

#BannerBox > ul {
  /* margin-top: 500px; */
  list-style: none;
  transition: all 1s;
  /* 
        display: inline-flex;와 flex 차이
        flex;로 지정된 Flex Container는 Block 요소와 같은 성향(수직 쌓임)
        nline-flex로 지정된 Flex Container는 Inline(Inline Block) 요소와 같은 성향(수평 쌓임)
    */
  display: inline-flex;
}

#BannerBox > ul > li {
  min-width: 1200px;
  text-align: center;
  /* color: black; */
}

#BannerBox > ul > li > a > img {
  width: 100%;
  height: auto;
}

#PrevBtn,
#NextBtn {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  z-index: 999;
  /* margin-top: 40%; */
}

/* 중앙 3등분 사진들(Best Item 영역) */

.container {
  width: 1200px;
  margin: 0 auto;
}

.Best_Seller_Title {
  padding-bottom: 55px;
  text-align: center;
}

.Best_Seller_Title h1{
  font-size: 30px;
  line-height: 1.5;
  padding-bottom: 4px;
  font-weight: bold;
  color: #000;
}

.Best_Seller_Title h2 {
  font-size: 24px;
  font-weight: normal;
}

.Prod_BS .Prod_BS_List > li {
  height: 565px;
}

.BS_Item_List {
  width: 31.76%;
  float: left;
  margin: 0 2.36% 40% 0;
}

.Prod_BS_Item .title {
  width: 100%;
  position: relative;
  margin-bottom: 22px;
}

.Prod_BS_Item .title img{
  width: 370px;
  max-width: 99%;
  height: auto;
}

.Prod_BS_Item .Info .name {
  display: inline-block;
  margin-bottom: 10px;
}

/* footer 영역 */
.footer {
  width: 100%;
  background: #2087c9;
  color: #fff;
  font-size: 11px;
}

.footer_inner {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
  overflow: hidden;
}

.footer_logo {
  width: 180px;
  padding-bottom: 42px;
}

.footer .box {
  float: left;
  line-height: 1.8;
  width: 350px;
}
.footer .box h2{
  padding-bottom: 0px;
  font-size: 20px;
}

.footer .box .footer_menu {
  width: 350px;
}

.footer .footer_menu > a {
  font-size: 20px;
  color: #fff;
  display: block;
}

.footer .footer_menu .sns {
  padding: 35px 0;
}

.footer .footer_menu .sns a {
  font-size: 26px;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  vertical-align: top;
}

.footer .footer_menu .box .sns a img {
  vertical-align: top;
  width: 22px;
  margin-top: 3px;
}

.footer .footer_cs {
  width: 300px;
}

.footer .footer_cs h2 {
  padding-bottom: 10px;
}

b {
  font-weight: bold;
}

